<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
    <DataCollectionRunSettings>
        <DataCollectors>
            <DataCollector friendlyName="XPlat code coverage">
                <Configuration>
                    <Format>coverage</Format>
                    <Exclude>[*]LiloDash.Infra.Data*</Exclude>
                    <ExcludeByFile>**/Migrations/*.cs,**/Middlewares/*.cs</ExcludeByFile>
                    <SingleHit>false</SingleHit>
                    <UseSourceLink>true</UseSourceLink>
                    <SkipAutoProps>true</SkipAutoProps>
                    <IncludeTestAssembly>true</IncludeTestAssembly>
                    <DeterministicReport>false</DeterministicReport>
                </Configuration>
            </DataCollector>
        </DataCollectors>
    </DataCollectionRunSettings>
</RunSettings>